In [1]:
print("hello")

hello

In [3]:
 a = 10
 b = 8
print(f' bitwise and => {a & b}')
print(f' bitwise or => {a | b}')
print(f' bitwise xor => {a ^ b}')
print(f' bitwise not => {~a}')
# shift?

 bitwise and => 8
 bitwise or => 10
 bitwise xor => 2
 bitwise not => -11

In [8]:
c = 10 + 5j
a = 10
print(type(a))
print(type(c))

<class 'int'>
<class 'complex'>

In [9]:
a = 10
b = 3
z = complex(a, b)
print(z)

(10+3j)

In [16]:
c = "12345"
v = "sjeihd"
print(c.isalnum())
print(v.isalnum())
print(v.isdigit())
print(c.isdigit())

True
True
False
True

In [14]:
student_grade = 3
student_attempt = "first"
if student_grade >= 90:
    if student_attempt == "first":
        print("A")
    elif student_attempt == "second":
        print("B")
else:
    print("C")

C

In [15]:
i = 1
while i <= 5:
    print(i)
    i = i + 1

1
2
3
4
5

In [19]:
i = 1
while i <= 10:
    if i % 2 == 0:
        print(f'{i} is even')
    else:
        print(f'{i} is odd')
    i += 1

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even

In [23]:
num_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for i in num_list:
    if i % 2 == 0:
        print(f'{i} is even')
    else:
        print(f'{i} is odd')

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even

In [24]:
num1 = [1, 3, 5]
num2 = [2, 4, 6]
result = []
for nu1 in num1:
    temp = []
    for nu2 in num2:
        temp.append(nu1+nu2)
    result.append(temp)
print(result)

[[3, 5, 7], [5, 7, 9], [7, 9, 11]]

In [26]:
fruits_basket = ['Mango', 'Apple', 'Orange', 'Grapes']
for fruit in fruits_basket:
    if fruit == 'Apple':
        break
    print("fruit:", fruit)
print("\nloop got terminated")

fruit: Mango

loop got terminated

In [27]:
fruits_basket = ['Mango', 'Apple', 'Orange', 'Grapes']
for fruit in fruits_basket:
    if fruit == 'Apple':
        continue
    print("fruit:", fruit)
print("\nloop got terminated")

fruit: Mango
fruit: Orange
fruit: Grapes

loop got terminated

In [28]:
fruits_basket = ['Mango', 'Apple', 'Orange', 'Grapes']
for fruit in fruits_basket:
    if fruit == 'Apple':
        print("Got apple")
    print("fruit:", fruit)
print("\nloop got terminated")

fruit: Mango
Got apple
fruit: Apple
fruit: Orange
fruit: Grapes

loop got terminated

In [30]:
def add_number(*args):
    result = 0
    for i in args:
        result = result + i
    return result

add_number(1, 4, 34, 23)

62

In [31]:
def selfIntro(**kwargs):
    values = list(kwargs.values())
    print("My name is {} I'm {} I work as {} in {}".format(values[0], values[1], values[2], values[3]))

selfIntro(name='Maedeh', age=25, career='developer', country='Netherlands')

My name is Maedeh I'm 25 I work as developer in Netherlands

In [32]:
twoNumberAddition = lambda a, b: a + b
twoNumberAddition(10, 30)

40

In [36]:
number_list = [1, 5, 45, 34]
squred = list(map(lambda num:num ** 2, number_list))

print(squred)

[1, 25, 2025, 1156]

In [37]:
ji = [3, 6, 8, 98, 5, 67, 0]
even = list(filter(lambda num: num % 2 == 0, ji))
print(even)

[6, 8, 98, 0]

In [41]:
import pandas as pd
import numpy as np
num_list = [1, 2, 3, 4, 5]
num_series = pd.Series(num_list)
print('data type of num_series :{}'.format(type(num_series)))
num_series

data type of num_series :<class 'pandas.core.series.Series'>

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [42]:
import pandas as pd
import numpy as np
num_list = [1, 2, 3, 4, 5]
num_df = pd.DataFrame(num_list, columns = ['number'])
print("data type of num_series: {}".format(type(num_df)))
num_df

data type of num_series: <class 'pandas.core.frame.DataFrame'>

   number
0       1
1       2
2       3
3       4
4       5

In [ ]:
import pandas as pd
import numpy as np
num_list = {}