In [4]:
import pandas as pd
import numpy as np
emp_dict = {'emp_id':[101, 105, 108, 111],
           'city':['ahvaz', ' yazd', 'qom', 'aras']}
dept_dict = {'emp_id':[101, 105, 108, 100],
            'dept':['Customer', 'legal', 'public', 'advertising']}

emp_df = pd.DataFrame(emp_dict)
dept_df = pd.DataFrame(dept_dict)

In [5]:
# joining on index
joined_df = emp_df.join(dept_df, lsuffix='_left', rsuffix='_right', how='inner')
joined_df

   emp_id_left   city  emp_id_right         dept
0          101  ahvaz           101     Customer
1          105   yazd           105        legal
2          108    qom           108       public
3          111   aras           100  advertising

In [ ]:
#??????????????????????? join